.container {
  width: 400px;
  margin: 40px auto;
}

.input-section {
  display: flex;
  gap: 10px;
}

.task {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.completed {
  text-decoration: line-through;
  color: gray;
}